@model Store_Management_System.Areas.Customer.Models.Customer;
@{
    //Layout = "_LayoutForCustomer";
    ViewData["Title"] = "Customer";
}

<h1 style="text-align:center">Customer Information</h1>

<div class="container">
    <table border="1" class="table table-bordered" cellpadding="1" cellspacing="1">
        <thead>
            <tr>
                <td style="text-align:center; font-weight: bold;">Customer Id</td>
                <td style="text-align:center; font-weight: bold;">Name</td>
                <td style="text-align:center; font-weight: bold;">Address</td>
                <td style="text-align:center; font-weight: bold;">Contact</td>
                <td style="text-align:center; font-weight: bold;">Email</td>
                <td style="text-align:center; font-weight: bold;">Action</td>
            </tr>
        </thead>
        
            <tr>
                <td style="text-align:center">@Model.Customer_Id</td>
                <td style="text-align:center">@Model.Customer_Name</td>
                <td style="text-align:center">@Model.Customer_Address</td>
                <td style="text-align:center">@Model.Customer_Contact</td>
                <td style="text-align:center">@Model.Customer_Email</td>
            </tr>
    </table>
</div>