@model List<Store_Management_System.Areas.Admin.Models.Admin>;
@{
    //Layout = "_LayoutForAdmin";
    ViewData["Title"] = "Admin";
}

<h1 style="text-align:center">Admin Information</h1>

<div class="container" style="width: 20%;">
    <div class="form-group">
        <div class="input-group-addon">
            <form asp-area="Admin" asp-controller="Admin" asp-action="Search">
                <input placeholder="Search By Id" class="form-control" name="id" />
                <a asp-area="Admin" asp-controller="Admin" asp-action="Search" asp-route-id="id"><input type="submit" value="Search" /></a>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <table border="1" class="table table-bordered" cellpadding="1" cellspacing="1">
        <thead>
            <tr>
                <td style="text-align:center; font-weight: bold;">Admin Id</td>
                <td style="text-align:center; font-weight: bold;">Name</td>
                <td style="text-align:center; font-weight: bold;">Email</td>
                <td style="text-align:center; font-weight: bold;">Contact</td>
                <td style="text-align:center; font-weight: bold;">Photo</td>
                <td style="text-align:center; font-weight: bold;">Action</td>
            </tr>
        </thead>
        @foreach (var f in Model)
        {
            <tr>
                <td style="text-align:center">@f.AdminId</td>
                <td style="text-align:center">@f.Name</td>
                <td style="text-align:center">@f.Email</td>
                <td style="text-align:center">@f.Contact</td>
                <td style="text-align:center">@f.Photo</td>
                <td style="text-align:center">
                    <a asp-action="AdminDetails" asp-route-id="@f.AdminId" class="btn btn-primary">Details</a>
                    <a asp-action="EditAdmin" asp-route-id="@f.AdminId" class="btn btn-primary">Edit</a>
                    <a asp-action="DeleteAdmin" asp-route-id="@f.AdminId" class="btn btn-primary">Delete</a>

                </td>
            </tr>
        }
    </table>
</div>